body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f6f8;
  color: #333;
  line-height: 1.6;
}

header {
  background: #0a3d62;
  color: white;
  padding: 50px 20px;
  text-align: center;
}

section {
  padding: 30px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #0a3d62;
  border-bottom: 2px solid #0a3d62;
  padding-bottom: 5px;
}

ul {
  list-style: square;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
  margin-top: 40px;
}
.btn{
  display:inline-block;
  padding:12px 18px;
  background:#0a3d62;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

.btn:hover{
  opacity:0.9;
}
